<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LEAST</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='style/styles.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="shortcut icon" href="{{ url_for('static',filename='img/List.png') }}" type="image/x-icon">
</head>

<body>
    <div class="wrapper">
        <div class="header">
            <ul class="menu">
                <li><a href="https://www.instagram.com/navneetsn18/" target="blank"><i class="fa fa-instagram" style="font-size:30px;color:#071e3d;"></i></a></li>
                <li> <a href="https://www.linkedin.com/in/navneet-singh-negi-241166169/" target="blank"><i class="fa fa-facebook" style="font-size:30px;color:#071e3d;"></i></a></li>
                <li> <a href="https://github.com/navneetsn18" target="blank"><i class="fa fa-twitter" style="font-size:30px;color:#071e3d;"></i></a></li>
            </ul>
            <img id="iphone" src="{{ url_for('static',filename='img/iphone.png') }}" alt="iphone">
            <div class="content">
                <h2>Create Lists with Less Efforts.</h2>
                <div class="buttons">
                    <a class="button apple" href="#">App Store</a>
                    <a class="button google" href="#">Google play</a>
                </div>
            </div>
            <img class="logo" src="{{ url_for('static',filename='img/least.svg') }}" style="width: 120px;">
            <img class="curve" src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/626071/bottom-curve_copy.svg">
            <img class="waves" src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/626071/waves_copy.svg">
        </div>
    </div>
    <div class="background"></div>
</body>

</html>